.agentInformationContainer {
    display: flex;
  }
  
  .agentInformation {
    padding: 20px;
    width: 100%;
  }
  
  .agentInformation h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .agentInformation table {
    width: 80%;
    margin-left: 30vh;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .agentInformation th, .agentInformation td {
    padding: 10px;
    text-align: center; /* Center the text in header cells */
    border-bottom: 1px solid #ddd;
  }
  
  .agentDetails {
    display: flex;
    align-items: center;
  }
  
  .agentDetails img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .client, .pending, .pendingTicket {
    text-align: center;
    font-size: 16px;
  }
  
  .largeNumber {
    font-size: 20px;
    font-weight: bold;
  }
  
  .smallNumber {
    font-size: 14px;
    color: #888;
  }
  
  .percentage {
    font-size: 12px;
    color: #888;
  }
  
  .pending {
    position: relative;
  }
  
  .pending:hover::after {
    content: attr(title);
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 1;
    font-size: 12px;
  }